* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%; 
    background:rgba(82, 11, 11, 0.548) ;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.cabecalho-img {
    width: 80px;
    height: 80px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.conteudo-principal {
    display: grid;
    gap:32px; 
    grid-template-columns: repeat(3,1fr);
    
}

.cabecalho-img-principal {
    width: 500px;
    height: 500px;
}

.conteudo {
    width: 75vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 3vw ;
}